.title {
  color: #02ccba;
}
body {
  font-family: "Avenir Next";
}



.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.button {
  padding: 20px;
}

.collection-image{
  width:250px;
  height:250px;
}