.top-wrapper {
  background-image:url(img/17059380485_9591f7a136_k_2.jpg);
  background-size:cover;
}
 /* body{
   min-width: 700px;
   width:100%;
 } */
.title{
  padding-top:80px;
  padding-bottom: 0px;
  margin:0 auto;
  color:#08EDF8;
  font-size:90px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 200px;
  width:100%;
}
.title h1{
  line-height: 70px;
}
.comment{
    font-size: 50px;
    margin:260px auto 80px auto;
    background-color: rgba(255,255,255,0.3);
    height:140px;
    width:100%;
    line-height: 140px;
}
.btnnn{
  text-align: center;
}


.btn{
  height :100px;
  width :100%;
  color: #08EDF8;
  background-color:rgba(0, 0, 0, 0.4);
  display: inline-block;
  border-radius: 70px;
  text-align: center;
  font-size:40px;
  line-height:100px;
}
.observe{
  margin:100px auto 50px auto;
}
.collection{
  margin-bottom:150px;
}

.container {
  width: 100%;
  text-align: center;
  margin:0 auto;
}

.footer{
  background-color:#000;
  color:white;
  font-size:20px;
  margin :0 auto;
  height:200px;
  line-height:80px;
}
.header{
  background-color:#000;
  color:white;
  font-size:20px;
  margin :0 auto;
  height:200px;
  line-height:80px;
}
/* footer {
  width:100%;
  height:300px;
  background-color:#000;
} */
